{% extends 'hub/hub_dashboard.html' %}
{% for message in messages %}
<script>alert('{{message}}')</script>
{% endfor %}
{% block hub %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<div class="container-fluid page-header py-5 mb-1 wow fadeIn" data-wow-delay="0.1s" style="height: 400px!important;">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4" >ServiceHub</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/hub-dashboard" >Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" >Update Profile</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn mx-auto" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5 " style="text-align: center;">Update Profile</h1>
                
            </div>
            
        </div>
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn mx-auto" data-wow-delay="0.1s">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-3">
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" name="hubname" value="{{hub.hub_name}}" class="form-control"  placeholder="ServiceHub name">
                                <label for="name">Servicehub name</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <img src="../../static/media/{{hub.hub_image}}" alt="" style="width: 100%; height: 200px;">
                                <input type="file" name="hubimage" class="form-control"  placeholder="ServiceHub Shop Image">
                                <label for="name">Servicehub Shop Image</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <input type="text" name="hubphone" value="{{hub.hub_phone}}" pattern="[6789][0-9]{9}" maxlength="10" class="form-control" id="subject" placeholder="Phone">
                                <label for="subject">Phone</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="email" value="{{hub.hub_email}}" name="hubemail" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"  placeholder="ServiceHub email">
                                <label for="name">Servicehub email</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-floating">
                                <select class="form-select" name="district" aria-label="Default select example">
                                    <option selected disabled>{{hub.district}}</option>
                                    <option value="Tvm">Tvm</option>
                                    <option value="Kollam">Kollam</option>
                                    <option value="Pathanamthitta">Pathanamthitta</option>
                                    <option value="Alappuzha">Alappuzha</option>
                                    <option value="Kottayam">Kottayam</option>
                                    <option value="Idukki">Idukki</option>
                                    <option value="Ernakulam">Ernakulam</option>
                                    <option value="Thrissure">Thrissure</option>
                                    <option value="Palakkad">Palakkad</option>
                                    <option value="Malappuram">Malappuram</option>
                                    <option value="Kozhikkode">Kozhikkode</option>
                                    <option value="Wayanad">Wayanad</option>
                                    <option value="Kannur">Kannur</option>
                                    <option value="Kasargod">Kasargod</option>
                                </select>
                                <label for="name">Servicehub District</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" name="hubaddress" placeholder="Service Center Address" id="message" style="height: 100px">{{hub.hub_address}}</textarea>
                                <label for="message">Address</label>
                            </div>
                        </div> 
                        <div class="col-md-12">
                            <div class="form-floating">
                                <input type="text" name="hubpin" value="{{hub.hub_pin}}" pattern="\d{6}" minlength="6" class="form-control"  placeholder="ServiceHub pincode">
                                <label for="name">Servicehub pincode</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary py-3 px-5" type="submit" style="border-radius: 10px;">Update</button>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock hub %}