{% extends 'user/user_dashboard.html' %}
{% for message in messages %}
<script>alert('{{message}}')</script>
{% endfor %}
{% block user %}
<style>
    body{
/* background:#dcdcdc;     */
}
.total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
}
.total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
    font-size: 17px;
}
.progress {
    /* background: #f2f4f8 none repeat scroll 0 0; */
    border-radius: 0;
    height: 30px;
}
.rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
}
.rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
}
.rating-list-center {
    width: 80%;
}
.rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
}
.restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
}
.restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
}
.offer-dedicated-nav .nav-link.active,
.offer-dedicated-nav .nav-link:hover,
.offer-dedicated-nav .nav-link:focus {
    border-color: #3868fb;
    color: #3868fb;
}
.offer-dedicated-nav .nav-link {
    border-bottom: 2px solid #fff;
    color: #000000;
    padding: 16px 0;
    font-weight: 600;
}
.offer-dedicated-nav .nav-item {
    margin: 0 37px 0 0;
}
.restaurant-detailed-action-btn {
    margin-top: 12px;
}
.restaurant-detailed-header-right .btn-success {
    border-radius: 3px;
    height: 45px;
    margin: -18px 0 18px;
    min-width: 130px;
    padding: 7px;
}
.text-black {
    color: #000000;
}
.icon-overlap {
    bottom: -23px;
    font-size: 74px;
    opacity: 0.23;
    position: absolute;
    right: -32px;
}
.menu-list img {
    width: 41px;
    height: 41px;
    object-fit: cover;
}
.restaurant-detailed-header-left img {
    width: 88px;
    height: 88px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
}
.reviews-members .media .mr-3 {
    width: 56px;
    height: 56px;
    object-fit: cover;
}
.rounded-pill {
    border-radius: 50rem!important;
}
.total-like-user {
    border: 2px solid #fff;
    height: 34px;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
    width: 34px;
}
.total-like-user-main a {
    display: inline-block;
    margin: 0 -17px 0 0;
}
.total-like {
    border: 1px solid;
    border-radius: 50px;
    display: inline-block;
    font-weight: 500;
    height: 34px;
    line-height: 33px;
    padding: 0 13px;
    vertical-align: top;
}
.restaurant-detailed-ratings-and-reviews hr {
    margin: 0 -24px;
}
.graph-star-rating-header .star-rating {
    font-size: 17px;
}
.progress {
    /* background: #f2f4f8 none repeat scroll 0 0; */
    border-radius: 0;
    height: 30px;
}
.rating-list {
    display: inline-flex;
    margin-bottom: 15px;
    width: 100%;
}
.rating-list-left {
    height: 16px;
    line-height: 29px;
    width: 10%;
}
.rating-list-center {
    width: 80%;
}
.rating-list-right {
    line-height: 29px;
    text-align: right;
    width: 10%;
}
.restaurant-slider-pics {
    bottom: 0;
    font-size: 12px;
    left: 0;
    z-index: 999;
    padding: 0 10px;
}
.restaurant-slider-view-all {
    bottom: 15px;
    right: 15px;
    z-index: 999;
}

.progress {
    /* background: #f2f4f8 none repeat scroll 0 0; */
    border-radius: 0;
    height: 30px;
}
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script> -->

<div class="container-fluid page-header py-5 mb-1 wow fadeIn" data-wow-delay="0.1s" style="height: 400px!important;">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4" >User</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/user-dashboard" >Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" >View Service Hub</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn mx-auto" data-wow-delay="0.1s">
                <h1 class="display-6 mb-5 " style="text-align: center;">View Service Hub</h1>
                
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-6" style="display: flex; flex-direction: column; justify-content: space-between;">
                  <img src="../../static/media/{{hub.hub_image}}" style="border: none; width: 100%; height: auto; max-height: 350px; object-fit: cover; padding: 20px;" alt="">
            </div>
            <div class="col-sm-6" style="display: flex; flex-direction: column; justify-content: space-between;">
              <div class="card" style="border: none; height: 400px !important;">
                <div class="card-body" >
                  <h5 class="card-title">{{hub.hub_name}}</h5>
                  <!-- <p class="card-text">Brand: {{hub.brand.brandname}}</p> -->
                  <p class="card-text">Phone: {{hub.hub_phone}}</p>
                  <p class="card-text">Email: {{hub.hub_email}}</p>
                  <p class="card-text">Address: {{hub.hub_address}}</p>
                  <p class="card-text">District: {{hub.district}}</p>
                  <p class="card-text">Pin: {{hub.hub_pin}}</p>
                  <p class="card-text"><b><i>Our Brands with its Repair products</i></b></p>
                  <ul>
                    {% for hubbrand in hubbrands %}
                    {% if hubbrand.hub.id == hub.id %}
                    <li>
                        {{hubbrand.brand.brandname}}
                        <ol>
                          {% for service in services %}
                          {% if service.hubbrands.brand.brandname ==  hubbrand.brand.brandname %}
                          <li>{{service.productname}}</li>
                          {% endif %}
                          {% endfor %}
                        </ol>
                    </li>
                    {% endif %}
                    {% endfor %}
                  </ul>
                  <!-- <a href="/user-starttroubleshoot?hid={{hub.id}}" class="btn btn-primary py-2 px-4" style="border-radius: 10px;">Troubleshoot</a> -->
                  <a href="/user-viewfaq?hubid={{hub.id}}"  class="btn btn-primary py-2 px-4" style="border-radius: 10px;">View FAQ</a>
                  <button type="button" class="btn btn-primary py-2 px-4" style="border-radius: 10px;" data-toggle="modal" data-target="#exampleModal">
                    Request Troubleshoot
                  </button>
                  
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Enter Complaint details before troubleshoot</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" >
                                {% csrf_token %}
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <select class="form-select" name="brand" id="brandselect" aria-label="Default select example">
                                                <option selected>Choose brand from below</option>
                                                {% for hubbrand in hubbrands %}
                                                <option value="{{hubbrand.id}}">{{hubbrand.brand.brandname}}</option>
                                                {% endfor %}
                                            </select>
                                            <br>
                                            <select class="form-select" name="sproduct" id="productnameselect" aria-label="Default select example">
                                              <option selected>Choose product from below</option>
                                              <!-- {% for service in services %}
                                              <option value="{{service.id}}">{{service.productname}}</option>
                                              {% endfor %} -->
                                          </select>
                                            <label for="name">Choose your Product</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" name="cmodel"  class="form-control" placeholder="Product Model">
                                            <label for="">Product Model</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Complaint Text" name="ctext" style="height: 100px"></textarea>
                                            <label for="message">Complaint Text</label>
                                        </div>
                                    </div> 
                                    <div class="col-12">
                                        <button class="btn btn-primary py-3 px-5" type="submit" style="border-radius: 10px;">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<!-- <link rel="stylesheet" href="https://allyoucan.cloud/cdn/icofont/1.0.1/icofont.css" integrity="sha384-jbCTJB16Q17718YM9U22iJkhuGbS0Gd2LjaWb4YJEZToOPmnKDjySVa323U+W7Fv" crossorigin="anonymous"> -->
<!-- <div class="container" style="margin-top: 58px;">
<div class="col-md-12">
    <div class="offer-dedicated-body-left">
        <div class="tab-content" id="pills-tabContent">
           
            <div class="tab-pane fade active show" id="pills-reviews" role="tabpanel" aria-labelledby="pills-reviews-tab">
              
                
                <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                    <h5 class="mb-1">All Ratings and Reviews</h5>
                    {% for feedback in feedbacks %}
                    <div class="reviews-members pt-4 pb-4">
                        <div class="media">
                            <div class="media-body">
                                <div class="reviews-members-header">
                                  
                                    <h6 class="mb-1"><a class="text-black" href="#">{{feedback.user.first_name}} {{feedback.user.last_name}}</a></h6>
                                    <p class="text-gray">{{feedback.rating}}</p>
                                </div>
                                <div class="reviews-members-body">
                                    <p>{{feedback.feedback_desc}}</p>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                    
                    
                </div>
                
            </div>
        </div>
    </div>
</div>
</div> -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
    $("#MyModal").modal();
  });
    
  $(document).ready(function () {
    $('#brandselect').on('change', function () {
        var brandId = $(this).val();  // Use brandId instead of countryId
        if (brandId) {
            $('#productnameselect').prop('disabled', false);
            $.ajax({
                url: '/getproductname/',
                data: { 'brand': brandId },  // Change hubbrandid to brand
                dataType: 'json',
                success: function (data) {
                    $('#productnameselect').empty();
                    $('#productnameselect').append($('<option>', {
                        value: '',
                        text: 'Select a product'
                    }));

                    $.each(data.productnames, function (index, productname) {
                        $('#productnameselect').append($('<option>', {
                            value: productname.id,
                            text: productname.productname
                        }));
                    });
                }
            });
        } else {
            $('#productnameselect').prop('disabled', true);
            $('#productnameselect').empty();
            $('#productnameselect').append($('<option>', {
                value: '',
                text: 'Select a product'
            }));
        }
    });
});
</script>

{% endblock user %}