{% extends 'user/user_dashboard.html' %}
{% for message in messages %}
<script>alert('{{message}}')</script>
{% endfor %}
{% block user %}
<div class="container-fluid page-header py-5 mb-1 wow fadeIn" data-wow-delay="0.1s" style="height: 400px!important;">
    <div class="container text-center py-5">
        <h1 class="display-4 text-white animated slideInDown mb-4" >User</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb justify-content-center mb-0">
                <li class="breadcrumb-item"><a href="/user-dashboard" >Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" >View FAQ</li>
            </ol>
        </nav>
    </div>
</div>
<!-- Page Header End -->

<section >
    <div class="container py-5">
      
        <div class="text-center mx-auto" style="max-width: 500px;">
            <h1 class="display-6 mb-5">View FAQ</h1>
        </div>
      <div class="row">
        
        <div class="col-lg-10 mx-auto">
          <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                      <p class="mb-0"><b><i>Question</i></b></p>
                    </div>
                    <div class="col-sm-6">
                      <p class="text-muted mb-0"><b><i>Answer</i></b></p>
                    </div>
                    
                  </div>
                  
                {% for faq in faqs %}
                <hr>
              <div class="row">
                <div class="col-sm-6">
                  <p class="mb-0">{{faq.question}}</p>
                </div>
                <div class="col-sm-6">
                  <p class="text-muted mb-0">{{faq.answer}}</p>
                </div>
              </div>
              {% endfor %}
              
           
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
{% endblock user %}